/*********************
Overarching Styling
**********************/
a {
  font-family: 'Montserrat', sans-serif;  text-decoration: none;
  color: green;
  transition: 200ms ease-in-out;
  opacity: 1;

}
a:hover {
  opacity: .8;
  color: blue;
  cursor: pointer;
}
a:active {
  color: inherit;
}

/*******************************
Project-Arrow
********************************/
.project-arrow-div {
}
#project-arrow {
  margin: 0 auto;
  position: relative;
  bottom: 0;
  text-align: center;
}
/*******************************
Text Styling
********************************/
h1 {
  font-size: 450%;
}
p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: white;
}

/*******************************
Action Buttons
********************************/
.action-button {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 2%;
  text-align: center;
  margin: auto;
  width: 300px;
  background-color: white;
  opacity: .8;
  box-shadow: 10px, 10px, 15px #000;
  border-radius: 7px;
  transition: 200ms ease-in-out;
}
.action-button-icon {
  font-size: 3em;
}
.action-button-text {
  font-family: 'Montserrat', sans-serif;  text-decoration: none;
  font-size: .8em;
  color: black;
}
