/*********************
Header: Flexbox
**********************/
.header, .nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.header {
  justify-content: space-between;
}
.nav {
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/*********************
Header: Styling
**********************/
.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0px;
  margin: 0 auto;
  background: black;
  opacity: .7;
  height: 2em;
}
.nav {
  list-style: none;
  font-size: .6em;
}
.nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  opacity: .8;
}
.nav li a:hover {
  opacity: 1;
}


/*******************************
Project-Arrow
********************************/
#project-arrow {
  position: absolute;
  bottom: 20%;
  left: 25%;
  right: 25%;
  text-align: center;
}
.project-arrow {
  width: 200px;
  margin: 0 auto;
}

/*******************************
Parallax
********************************/
html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: white;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("../img/goldengate3-reduced.jpg");
   background-attachment: fixed;  
}
#slide1:before {
  background-image: url("../img/workstation-reduced.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}
#slide2 {
  background-image: url("../img/keyboard3.jpg");
  background-attachment: fixed;
}
#slide3:before {
  background-image: url("../img/writing-reduced.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}
#slide4 {
  background-image: url("../img/tree-reduced.jpg");
  background-attachment: fixed;
}
#slide5:before {
  background-image: url("../img/music2-reduced.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}
#slide6 {
  background-image: url("../img/music3.jpg");
  background-attachment: fixed;
}
#slide7:before {
  background-image: url("../img/wood-reduced.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

/*Media Query for Mobile*/
@media screen and (max-width: 800px) {
  
}