.background {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background-size: cover;
  background-position: center;
}

.content {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 5em;
  text-align: center;
  margin: 0;
}

p {
  color: #fff;
  font-size: 1em;
}

/* Slide 1 **********************************/
.slide-1 {
  background-image: url('../img/goldengate3-reduced.jpg');
  text-align: center;
}
.slide-1 h1 {
  color: #000;
}
.slide-1 .headline {
  font-family: 'Raleway', sans-serif;
  color: #000;
}
.slide-1 .link {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.slide-1 .fa {
  font-size: 2em;
}
.link a {
  color: lightblue;
  text-decoration: none;
}

  .link {
  }

  /*Slide 1 Project Link*/
  .project-arrow-div {
    /*make the whole div a link*/
  }
  .projects-link {
  }
  #project-arrow {
    width: 160px;
    /*make it bounce*/
  }

  /* Slide 2 **********************************/
  .slide-2 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
      ), url('../img/keyboard3.jpg')
  }
  .slide-2 .hsContent {
    top: 20%;
  }
  .slide-2 h2 {
    color: #fff;
    position: relative;
  }

  /*Slide 2 Styling */
  .slide-2 ul {
    list-style-type: none;
  }
  .slide-2 .about-projects {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: auto;
  }
  .slide-2 p {
    font-size: .8em;
  }
  .slide-2 li {
    font-size: 1.2em;
    color: white;
    text-decoration: underline;
  }


  /* Slide 3 **********************************/
  .slide-3 {
    background-image:url('../img/wood-reduced.jpg')
  }

  .slide-3 h2 {
    color: #fff;
    padding-left: 0;
    padding-right: 0;
  }
  .slide-3 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
  }
  .slide-3 p {
    font-family: 'Raleway', sans-serif;
    max-width: 700px;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;
    margin: auto;
  }
  .email {
    text-align: center;
  }

