/*  TEXT  */
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 4.6em;
  line-height: 0px;
  text-align: center;
  color: #3d464d;
  padding-top: 24px;
}
h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center;
  color: #3d464d;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  color: #3d464d;
  margin-top: 0;
  list-style-type: none;
}

h2 {
  padding-top: 12px;
  padding-bottom: 24px;
  color: #3d464d;
  text-align: justify;
}
h2 a {
  text-decoration: none;
}
h2:after {
  content: "";
  display: inline-block;
  width: 100%;
}

a {
  text-decoration: underline;
  color: #3d464d;
}

a:hover {
  color: #99cc33;
}

/*  POSITIONING  +  CONTENT  */
body {
  background-color: #ffffff;
}

.content {
  max-width: 600px;
  margin: auto;
  /*padding-top: 1%;*/
  /*padding-left: 5%;*/
  /*padding-bottom: 1%;*/
  /*padding-right: 5%;*/
}

img {
  padding-top: 12px;
  padding-bottom: 24px;
  width: 100%;
}


/*  MEDIA QUERIES  */
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 3.2em;
  }
  h1, h4 {
    text-align: center;
  }
  h3 {
    font-size: 1.5em;
  }
  h5 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .icons {
    text-align: center;
  }
  p {
    margin-bottom: 40px;
  }
}