/*  TEXT  */
h1 {
  font-family: 'Space Mono', mono; 
  font-weight: 700;
  font-size: 48px;
  color: #222323;
  margin: 0px;
}

h2 {
  font-family: 'Space Mono', mono;
  font-size: 28px;
  color: #B1B2B3;
  font-style: italic;
  text-transform: lowercase;
  margin: 0px 0px 24px 0px;
}

p {
  font-family: 'Rubik', mono;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  color: #222323;
  margin-top: 0;
  list-style-type: none;
}

a {
  border-bottom: 1px dotted #38373d;
  color: #222323;
  text-decoration: none;
}

a:hover {
  background-color: #E9F5FD;
  cursor: pointer;
}


/*  POSITIONING  +  CONTENT  */
body {
  background-color: #FFFFFF;
}

.content {
  max-width: 720px;
  padding: 64px 0px;
  margin: auto;
}

.title {
  margin-bottom: 64px;
}

.divider {
  border-top: 1px dashed #E4E5E6;
  margin: 24px 0px 32px 0px;
}


/*  MEDIA QUERIES  */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    line-height: 36px;
  }

  .content {
    padding: 32px 20px;
  }

  .title {
  margin-bottom: 32px;
  }

  .divider {
  border-top: 1px dashed #E4E5E6;
  margin: 12px 0px 24px 0px;
  }
}