/*********************
Header: Flexbox
**********************/
.header, .nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.nav, .header{
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/*Need to add a pop out menu for small browsers or a static row layout*/
@media screen and (max-width: 640px) {
  .header, .nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/********************
Set Div Height to 100%
*********************/
html, body {
  height:100%;
}

p {
  text-align:center;
}

.top-section {
  height: 100vh;
  border: 3px dashed grey;
}

.project-link {
  display:block;
  width: 100%;
  position:absolute;
  bottom:20px;
  text-align:center;
}

.body-section {
  height: 100vh;
  border: 3px dashed grey;
}

/********************
Custom CSS
*********************/

a:hover {
  border: 1px solid black;
}