/*********************
Header: Flexbox
**********************/
.header, .nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.nav, .header{
  padding: 20px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/*Need to add a pop out menu for small browsers or a static row layout*/
@media screen and (max-width: 640px) {
  .header, .nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/********************
Set Div Height to 100%
*********************/
html, body {
  height:100%;
}


.top-section {
  height: 100vh;
  border: 3px dashed grey;
  background-image: url('img/ggbridgecity.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; 
}

.project-link {
  display:block;
  width: 100%;
  position:absolute;
  bottom:20px;
  text-align:center;
}

.body-section {
  height: 100vh;
  border: 3px dashed grey;
}

/********************
Over riding Bootstrap
*********************/

a:hover, a:focus, .nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
  text-decoration: none;
  opacity: .6;
}

/*****************
My CSS
******************/
p {
  text-align:center;
}