/*********************
Flexbox Styling
**********************/
.header, .nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.header {
  justify-content: space-around;
}

.nav {
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/*Maybe add a pop out menu for small browsers*/
@media all and (min-width: 641px) {
  .header, .nav {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

/********************
Viewport 100%
*********************/
html, body {
  height:100%;
}


p {
  text-align:center;
}

.top-section {
  height: 100vh;
  border: 1px dashed grey;
}

.project-link {
  display:block;
  position:absolute;
  bottom:20px;
  text-align:center;
}

.body-section {
  height: 100vh;
  border: 1px dashed grey;
}