/*  START OF RESET  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
/*  END OF RESET  */

body {
  width: 100%;
  font-size: 1em;
  line-height: 1.75em;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: black;
  background-color: #fcf6ed;
}

#splash {
  width: 100%;
}


header {
  position: relative;
  top: -225px;
  color: #fcf6ed;
  letter-spacing: .1em;
}

#avatar {
  border-radius: 50%;
  border: 2px solid #fcf6ed;
  box-shadow: .5px .5px 4px 0px black;
  margin: 6px;
}

nav {
  position: relative;
  top: -170px;
  background-color: #fcf6ed;
  padding: 1%;
  font-size: 1.3em;

}

div, section {
  position: relative;
  background-color: #fcf6ed;
  padding: 1%;
  font-size: 1.5em;
  line-height: 2em;
  margin-right: 17%;
  margin-left: 17%;
  /*border: 1px solid black;*/
}

section ul {
  line-height: 3em;
}

a {
  color: #660066;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #800000;
}

/*Navigation Bar*/

nav ul {
  margin: auto;
}

nav ul li {
  display: inline;
  letter-spacing: 1em;
  padding-left: 2%;
  padding-right: 2%;
}

/*Button*/

.right {
  margin-left: 30%;
  border: none;
  background-color: transparent;
  font-family: "Open Sans"
}

/*Footer*/

footer {
  padding: 1%;
}

.social {
  max-height: 35px;
  padding-left: 1%;
  padding-right: 1%;
}



























